<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Watchmaker Framework" verbose="1" >

  <test name="Evolution Framework" >
    <packages>
      <package name="uk.co.dandyer.watchmaker.framework.*" />
    </packages>
  </test>

  <test name="Maths Module" >
    <packages>
      <package name="uk.co.dandyer.maths.*" />
    </packages>
  </test>

  <test name="Examples" >
    <packages>
      <package name="uk.co.dandyer.watchmaker.examples.*" />
    </packages>
  </test>

</suite>